@font-face {
   font-family: "AntipastoPro";
   font-weight: 700;
   font-style: normal;
   src: local("Antipasto Pro Bold"), local("AntipastoPro-Bold"), url("../fonts/AntipastoPro-Bold.woff2") format("woff2"),
      url("../fonts/AntipastoPro-Bold.woff") format("woff"), url("../fonts/AntipastoPro-Bold.eot") format("eot");
   font-display: swap;
}
